<!--<form [formGroup]="searchForm">-->
<!--  <input type="text" formControlName="query">-->
<!--  <input type="date" formControlName="date">-->
<!--  <input id="delayed" type="checkbox" formControlName="delayed">-->
<!--  <label for="delayed">Delayed</label>-->
<!--</form>-->

<ng-container *ngIf="{value: (flightsLoading$ | async)} as context">
  <div *ngIf="context.value; else loaded">
    Loading flights...
  </div>
</ng-container>

<ng-template #loaded>
  <div>
    {{ flightCount$ | async }} flights found
  </div>

  <table class="flight-list">
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Delayed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of flights$ | async" [routerLink]="[flight.id]">
      <td>{{ flight.id }}</td>
      <td>{{ flight.date | date: 'dd-MM-yyyy HH:mm' }}</td>
      <td>{{ flight.from }}</td>
      <td>{{ flight.to }}</td>
      <td>{{ flight.delayed }}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
