<div *ngIf="flight$ | async as flight">
  <div>{{ flight.id }} | {{ flight.from}} - {{ flight.to }}</div>
  <br>
  <button mat-flat-button color="primary" (click)="delayFlight()">
    Delay
  </button>
  <button mat-stroked-button color="primary" (click)="deleteFlight()">
    Delete
  </button>
</div>
