/*
 * Remove template code below
 */
:host {
  display: block;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 50px auto;
}

.banner {
  text-align: center;
  margin-bottom: 20px;
  height: 60px;
  padding-top: 20px;

  img {
    width: 160px;
  }
}
