<ng-container *ngIf="flightsLoading$ | async; else loaded">
  Loading flights...
</ng-container>

<ng-template #loaded>
  <div>
    {{ flightCount$ | async }} flights found
  </div>

  <table class="flight-list">
    <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Delayed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let flight of flights$ | async" [routerLink]="[flight.id]">
      <td>{{ flight.id }}</td>
      <td>{{ flight.date | date: 'dd-MM-yyyy HH:mm' }}</td>
      <td>{{ flight.from }}</td>
      <td>{{ flight.to }}</td>
      <td>{{ flight.delayed }}</td>
    </tr>
    </tbody>
  </table>
</ng-template>
